.card {
  width: 18rem;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 10px 4px grey;
}

.recipe .backside .card-body{
  margin-top: -15px;
}

div.form-inline > button{
  margin-left:10px;
}

.recipe-categories img{
  margin-top: 10px;
}
