<!-- Navigation -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="navbar-brand" href="/">Recipes</a>
      </li>
    </ul>
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link">
          <div class="form-inline">
            <input [(ngModel)]='search' [ngModelOptions]="{standalone: true}" class="form-control" type="search" placeholder="Search" (keydown)="checkEnterKey($event)" aria-label="Search">
            <button type="button" (click)="goToSearchResults()" class="btn btn-outline-success">Search</button>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- End Navigation -->
