<!-- Main Content -->
<div class="container">
  <div class="recipe-categories row">
    <div *ngFor="let category of categoryResponse?.categories" class="col">
      <div class="card">
        <img class="card-img-top" src="{{category?.strCategoryThumb}}" alt="Picture of a {{category?.strCategory}}">
        <div class="card-body text-center">
          <h5 class="card-title">{{category?.strCategory}}</h5>
          <a (click)="goToSearchResults(category?.strCategory)" class="btn btn-outline-primary">View Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main Content -->
