<div class="container">
  <div class="row" *ngIf='data.mealResponse?.meals'>
    <div class="col" *ngFor='let meal of data.mealResponse?.meals | sortByMealName'>
      <div class="card">
        <img class="card-img-top" src="{{meal?.strMealThumb}}" alt="Picture of {{meal.strMeal}}">
        <span class="text-center">
          <a *ngIf="meal?.strYoutube" href="{{meal?.strYoutube}}" target="_blank">
            <span class="fa fa-youtube-play" aria-hidden="true"></span>
          </a>
        </span>
        <div class="card-body">
          <h5 class="card-title text-center">{{meal?.strMeal}}</h5>
          <div *ngIf="meal?.showDetails && meal?.strIngredient1">
            <h6 class="card-title text-center">Recipe Information</h6>
            <p class="card-text">Ingredients:</p>
            <ul class="list-group list-group-flush text-center">
              <li *ngIf="meal?.strIngredient1 != '' && meal?.strIngredient1 != ''" class="list-group-item">{{meal?.strIngredient1}} - <i>{{meal?.strMeasure1}}</i></li>
              <li *ngIf="meal?.strIngredient2 != '' && meal?.strIngredient2 != ''" class="list-group-item">{{meal?.strIngredient2}} - <i>{{meal?.strMeasure2}}</i></li>
              <li *ngIf="meal?.strIngredient3 != '' && meal?.strIngredient3 != ''" class="list-group-item">{{meal?.strIngredient3}} - <i>{{meal?.strMeasure3}}</i></li>
              <li *ngIf="meal?.strIngredient4 != '' && meal?.strIngredient4 != ''" class="list-group-item">{{meal?.strIngredient4}} - <i>{{meal?.strMeasure4}}</i></li>
              <li *ngIf="meal?.strIngredient5 != '' && meal?.strIngredient5 != ''" class="list-group-item">{{meal?.strIngredient5}} - <i>{{meal?.strMeasure5}}</i></li>
              <li *ngIf="meal?.strIngredient6 != '' && meal?.strIngredient6 != ''" class="list-group-item">{{meal?.strIngredient6}} - <i>{{meal?.strMeasure6}}</i></li>
              <li *ngIf="meal?.strIngredient7 != '' && meal?.strIngredient7 != ''" class="list-group-item">{{meal?.strIngredient7}} - <i>{{meal?.strMeasure7}}</i></li>
              <li *ngIf="meal?.strIngredient8 != '' && meal?.strIngredient8 != ''" class="list-group-item">{{meal?.strIngredient8}} - <i>{{meal?.strMeasure8}}</i></li>
            </ul>
            <br/>
            <p *ngIf="meal?.strInstructions" class="card-text">Instructions:</p>
            <span>{{meal?.strInstructions}}</span>
          </div>
          <div class="text-center">
            <a *ngIf="!meal.showDetails" class="btn btn-outline-primary" (click)="meal.showDetails = !meal.showDetails">Show Recipe</a>
            <a *ngIf="meal.showDetails" class="btn btn-outline-primary" (click)="meal.showDetails = !meal.showDetails">Hide Recipe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!data.mealResponse"><div class="col text-center"><h3>No Results.</h3></div></div>
</div>
